##Query代码生成模版
##使用到的变量有：
##$!{gb.packageName}包名，如：net.letuu.order
##$!{gb.userName}机器登录用户名，如：microboss
##$!{gb.nowDate}当前日期，如：2011-10-14
##$!{tbb.className}类名，如：AgentAppForm
##$!{tbb.colList}表字段列表
##$!{cb.propertyName}字段属性名，如：fullName
##$!{cb.methodName}字段方法名，如：FullName
##$!{cb.propertyType}字段属性类型名，如：String
##$!{cb.colComment}字段注释，如：姓名全称
##$!{cb.colName}字段列名，如：full_name
#set($conf=$!{tbb.conf})
#set($bigDecimal=false)
#set($Date=false)
package $!{gb.packageName}.query;

#foreach($cb in $tbb.colList)
    #if($!{cb.propertyType}=="Clob"&&!$clob)
    import java.sql.Clob;
        #set($clob=true)
    #elseif($!{cb.propertyType}=="Blob"&&!$blob)
    import java.sql.Blob;
        #set($blob=true)
    #elseif($!{cb.propertyType}=="Date"&&$!Date)
    import java.util.Date;
        #set($Date=true)
    #elseif($!{cb.propertyType}=="BigDecimal"&&!$bigDecimal)
    import java.math.BigDecimal;
        #set($bigDecimal=true)
    #end
#end
import java.util.*;
/**
 *
 * @author $!{gb.userName}
 */
public class $!{tbb.className}Query extends BaseQuery {

	/**==============================批量查询、更新、删除时的Where条件设置==================================**/
#foreach($cb in $tbb.colList)
#if($!{cb.propertyType}!="Date")
	/** $!{cb.colComment} **/
    private $!{cb.propertyType} $!{cb.propertyName};
	public $!{cb.propertyType} get$!{cb.methodName} () {
    	return $!{cb.propertyName};
   	}
    public $!{tbb.className}Query set$!{cb.methodName}($!{cb.propertyType} $!{cb.propertyName}) {
    	this.$!{cb.propertyName} = $!{cb.propertyName};
    	return this;
    }
#elseif(${cb.colName}!=${conf.addField} && ${cb.colName}!=${conf.updField})
    /** $!{cb.colComment} **/
    private $!{cb.propertyType} $!{cb.propertyName}Start;
    public $!{cb.propertyType} get$!{cb.methodName}Start () {
        return $!{cb.propertyName}Start;
    }
    public $!{tbb.className}Query set$!{cb.methodName}Start($!{cb.propertyType} $!{cb.propertyName}) {
        this.$!{cb.propertyName}Start = $!{cb.propertyName};
        return this;
    }

    private $!{cb.propertyType} $!{cb.propertyName}End;
    public $!{cb.propertyType} get$!{cb.methodName}End () {
        return $!{cb.propertyName}End;
    }
    public $!{tbb.className}Query set$!{cb.methodName}End($!{cb.propertyType} $!{cb.propertyName}) {
        this.$!{cb.propertyName}End = $!{cb.propertyName};
        return this;
    }

    private $!{cb.propertyType} $!{cb.propertyName}Equal;
    public $!{cb.propertyType} get$!{cb.methodName}Equal () {
        return $!{cb.propertyName}Equal;
    }
    public $!{tbb.className}Query set$!{cb.methodName}Equal($!{cb.propertyType} $!{cb.propertyName}) {
        this.$!{cb.propertyName}Equal = $!{cb.propertyName};
        return this;
    }
#end
#end
	/**==============================批量查询时的Order条件顺序设置==================================**/
	public class OrderField{
		public OrderField(String fieldName, String order) {
			super();
			this.fieldName = fieldName;
			this.order = order;
		}
		private String fieldName;
		private String order;
		public String getFieldName() {
			return fieldName;
		}
		public OrderField setFieldName(String fieldName) {
			this.fieldName = fieldName;
			return this;
		}
		public String getOrder() {
			return order;
		}
		public OrderField setOrder(String order) {
			this.order = order;
			return this;
		}
	}

	/**==============================批量查询时的Order条件顺序设置==================================**/
	/**排序列表字段**/
	private List<OrderField> orderFields = new ArrayList<OrderField>();
#if($conf.orderCol.size()>0)
#foreach($col in $conf.orderCol)
	#if($tbb.colMap.get($col))
	#set($cb = $tbb.colMap.get($col))	
	/**
	 * 设置排序按属性：$!{cb.colComment}
	 * @param isAsc 是否升序，否则为降序
	 */	
	public $!{tbb.className}Query orderby$!{cb.methodName}(boolean isAsc){
		orderFields.add(new OrderField("$!{cb.colName}",isAsc?"ASC":"DESC"));
		return this;
	}
	#end	
#end
#else
#foreach($cb in $tbb.colList)
	/**
	 * 设置排序按属性：$!{cb.colComment}
	 * @param isAsc 是否升序，否则为降序
	 */	
	public $!{tbb.className}Query orderby$!{cb.methodName}(boolean isAsc){
		orderFields.add(new OrderField("$!{cb.colName}",isAsc?"ASC":"DESC"));
		return this;
	}
#end
#end
#if($conf.isSplitTable())
    /**
    * 分表使用
    */
    private String tableId;

    public String getTableId() {
        return tableId;
    }

    public $!{tbb.className}Query setTableId(String tableId) {
        this.tableId = tableId;
        return this;
    }
#end
#if($conf.isCustomField())
    private String fields;
    /**
     * 提供自定义字段使用
     */
    private static Map<String,String> fieldMap;

    private static Map<String,String> getFieldSet() {
        if (fieldMap == null){
            fieldMap =new HashMap<String,String>();
        #foreach($cb in $tbb.colList)
            fieldMap.put("$!{cb.colNameCheck}", "$!{cb.propertyName.trim()}");
        #end
        }
        return fieldMap;
    }

    public String getFields(){
        return this.fields;
    }
    public $!{tbb.className}Query  setFields(String fields){
        String[] array = fields.split(",");
        StringBuffer buffer = new StringBuffer();
        for (String field : array){
            if(getFieldSet().containsKey(field)){
                buffer.append(field).append(" as ").append(getFieldSet().get(field)).append(" ,");
            }
            if(getFieldSet().containsKey("`"+field+"`")){
                buffer.append("`"+field+"`").append(" as ").append(getFieldSet().get(field)).append(" ,");
            }
        }
        if (buffer.length() != 0){
            this.fields = buffer.substring(0, buffer.length() - 1);
        }else{
            this.fields = " 1 ";//没有一个参数可能会报错
        }
        return this;
    }
#end
}
